

.container {
	max-width: 750px;
	margin: 30px auto;
}

h1 {
	text-align: center;
}

td {
  padding: 30px;
  outline: solid 1px purple;
	width: 300px;
	font-size: 1.5em;
	color: red;
}





img {
	max-width: 100%;
}
